<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>诚务通_Bank_Php</title>
</head>
<body>
    <form name="form1" method="post" action="/pay/bank/" id="form1">
        {% module xsrf_form_html() %}
<div>
</div>

    <div>
        <br />
        诚务通售卡接口：<input name="interfaceurl" type="text" value="http://i.cwtong.net/gateway/cwtb/" id="interfaceurl" style="width:259px;" /><br />
        -------------------------------------------------------------------------------<br />
        产品类型ID：
		<select name="channelid" id="channelid">
            <option value="100001">中国工商银行</option>
            <option value="100002">中国建设银行</option>
            <option value="100003">中国农业银行</option>
            <option value="100004">中国银行</option>
            <option value="100005">交通银行</option>
            <option value="100006">招商银行</option>
            <option value="100007">兴业银行</option>
            <option value="100008">民生银行</option>
            <option value="100009">北京银行</option>
            <option value="100010">广东发展银行</option>
            <option value="100011">广州市农村信用社</option>
            <option value="100012">深圳发展银行</option>
            <option value="100013">深圳农村商业银行</option>
            <option value="100014">上海浦东发展银行</option>
            <option value="100015">上海农村商业银行</option>
            <option value="100016">顺德农信社</option>
            <option value="100017">中信银行</option>
            <option value="100018">上海银行</option>
            <option value="100019">光大银行</option>
            <option value="100020">平安银行</option>
            <option value="100021">北京农村商业银行</option>
            <option value="100022">宁波银行</option>
            <option value="100023">渤海银行</option>
            <option value="100024">中国邮政储蓄银行</option>
            <option value="100025">南京银行</option>
            <option value="100026">东亚银行</option>
            <option value="100027">浙商银行</option>
            <option value="100028">支付宝</option>
            <option value="100029">财付通</option>
            <option value="100031">微信支付</option>
		</select><br />
        订单金额：<input name="moneys" type="text" value="10" id="money" /><br />
        商户扩展数据：<input name="ext" type="text" value="" id="ext" /><br />
        <input type="submit" name="Button1" value="提交" id="Button1" />&nbsp;
        <br />
        </div>
    </form>
    <br>
<br/>
   <h3 style="color: red">{% raw errmsg %}</h3>
</body>
</html>