<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div>
        <h2>欢迎注册</h2>
        <form class="form-inline" action="/register/" method="post">
            {% module xsrf_form_html() %}
            <input class="form-control" type="text" name="email" placeholder="Your email" value="">
            <input class="form-control" type="text" name="passwd" placeholder="Your passwd" value="">
            <input type="submit" class="btn btn-default" value="注册">
        </form>

       <div style="margin-left: 10%"><h4 style="color: red">{% raw err_msg  %}</h4></div>
        <br>
        <br>
        <br>
        <div>
            <a style="margin-left: 15%" href="/login/weibo/"><img src="{{ static_url('images/weibo_ico.png') }}"></a>
        </div>
   </div>

</body>
</html>